.admin-prod-div
{
    background-color:rgba(3, 40, 47, 0.8); 
    backdrop-filter: blur(10px); 
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.7), 10px 6px 20px 10px rgba(0, 0, 0, 0.5);
    color:wheat;
}

.admin-prod-table
{
background-color: rgba(227, 234, 235, 0.8);
box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.7), 10px 6px 20px 10px rgba(0, 0, 0, 0.5);
}